{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
</header>
<section class="text-center d-flex">
     <div class="col-lg-12 text-center">
         {% for outlays in outlay %}
         {{outlays.outlay.name}}
         {% endfor %}
   <div id='container'>
    <script>
    {% for outlays in outlay %}
     Highcharts.chart('container', {

    title: {
        text: 'Chart.update'
    },

    subtitle: {
        text: 'Plain'
    },

    xAxis: {
        categories: ['{{outlays.outlay.category.name}}']
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
        showInLegend: false
    }]

});{% endfor %}
    </script>
   </div>
     </div>
</section>

{% endblock content %}