{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
</header>
<section class="text-center d-flex">
     <div class="col-lg-12 text-center">
         {% for outlays in dataset %}
         {{outlays.outlay.name}}
         {% endfor %}
   <div id='container'>
    <script>
Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: [
            {% for key, values in data.items %}'{{key}}'{% if not forloop.last %}, {% endif %}{% endfor %}]
        },
        series: [{% for key, values in data.items %}{
            name: '{{ key }}',
            data: [{{ values }}]
        }{% if not forloop.last %}, {% endif %}{% endfor %}]
    });
</script>
    </script>
   </div>
     </div>
</section>

{% endblock content %}