{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
</header>
  <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"><i class="fas fa-check-circle" data-toggle="tooltip" title="S'enregistrer"></i> Dépense bien enregistrée</h2>
            <hr class="divider my-4">
              <p class="text-muted mb-0"><a href ="{% url 'spent:record_outlay' %}"><strong>Enregistrer une nouvelle dépense</strong></a></p>

              <p class="text-muted mb-0"><a href ="{% url 'spent:record_outlay' %}"><strong><i class="fas fa-plus" data-toggle="tooltip" title="Dépenses à saisir"></i> Enregistrer une nouvelle dépense</strong></a></p>
              <div class="divider my-4">
              <p class="text-muted mb-0"><a href ="{% url 'spent:history' %}"><strong><i class="fas fa-history" data-toggle="tooltip" title="Mon historique de dépenses"></i> Historique de mes dépenses</strong></a></p>
            </div>
              <div class="divider my-4">
              <p class="text-muted mb-0"><a href ="{% url 'core:index' %}"><strong><i class="fas fa-home" data-toggle="tooltip" title="Accueil"></i> Retour à l'acceuil</strong></a></p>
            </div>
          </div>

          </div>
            </div>
    </section>

{% endblock content %}