{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
</header>
<section id="about">
      <div class="container">
        <div class="row">
            {% if outlay %}
            <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{category_choose.name}} :</h2>
            <hr class="divider my-4">
          </div>
            {% elif outlay_selected %}
            <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{outlay_selected.name}} :</h2>
            <hr class="divider my-4">
          </div>
            {% else %}
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Choisissez une categorie :</h2>
            <hr class="divider my-4">
          </div>
            {% endif %}
        </div>
      </div>
      <div class="container">
        <div class="row">
            {% if outlay %}
            {% elif outlay_selected %}
            {% else %}
               <div class="col-lg-12 col-md-9 text-center">
              <form id="cat_form"  action="{% url 'spent:record_outlay' %}" method="post" accept-charset="utf-8">
                  {% csrf_token %}
                <select id="cat_id" name="cat_list">
		        {% for all_categories in categories %}
                  <option value="{{all_categories.id}}">{{all_categories.name}}</option>
		        {% endfor %}
                  </select>
                 <div class="form-group service-box mt-4 mx-auto">
                <button class="btn btn-primary btn-xl mt-50" type="submit">Selectionner</button>
            </div>
                </form>
            </div>
          </div>
            {% endif %}
          {% if outlay %}
          <div class="col-lg-12 col-md-9 text-center">
               <form id="outlay_form"  action="{% url 'spent:record_outlay' %}" method="post" accept-charset="utf-8">
                   {% csrf_token %}
                <select id="outlay_list" name="outlay_list">
		        {% for outlay_cat_selected in outlay %}
                  <option value="{{outlay_cat_selected.id}}">{{outlay_cat_selected.name}}</option>
		        {% endfor %}
                  </select>
                   <div class="form-group service-box mt-4 mx-auto">
                <button class="btn btn-primary btn-xl mt-50" type="submit">Selectionner</button>
            </div>
                </form>
                {% elif outlay_selected %}
          <div class="col-lg-12 col-md-9 text-center">
              <form method="POST">
            {% csrf_token %}
            <div class="fieldWrapper my-label">
                <label for="{{ form.amount.id_for_label }}">Montant</label>
                {{ form.amount }}
                </div>

            <div class="fieldWrapper my-label">
                <label for="{{ form.payment_method.id_for_label }}">Moyen de paiement</label>
                {{ form.payment_method }}
            </div>

            <div class="fieldWrapper my-label">
                <label for="{{ form.payment_date.id_for_label }}">Date de paiement</label>
                {{ form.payment_date }}
            </div>

            <div class="form-group service-box mt-4 mx-auto">
                <button class="btn btn-primary btn-xl mt-50" type="submit" id="outlay_field" name="outlay_field" value="{{outlay_selected.name}}" >Enregistrer</button>
            </div>
        </form>
            </div>
          </div>
            {% endif %}
    </section>

{% endblock content %}