{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
</header>
<section class="text-center d-flex">
    <div class="container my-auto">
        <form method="post" action=".">
        {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-3">Veuillez renseigner les champs ci-dessous:</h3>
            </fieldset>
            <div class="fieldWrapper my-label">
                <p><label for="{{ form.username.id_for_label }}">Nom d'utilisateur :</label>
                {{ form.username }}</p>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="errorform">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="fieldWrapper my-label">
                <label for="{{ form.password.id_for_label }}">Mot de passe :</label>
                {{ form.password }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="errorform">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
            {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
        {% endif %}
            <div class="form-group">
                <button class="btn btn-primary btn-xl mt-50" type="submit">Se connecter</button>
            </div>
            <br>
        </form>
        <div>
            <a href="{% url 'registration:register' %}"><p><strong><i class="fas fa fa-user-plus" data-toggle="tooltip" title="S'enregistrer"></i> Nouvel utilisateur ?</strong></p></a>
        </div>
        <div>
            <a href="{% url 'password_reset' %}"><p><strong><i class="fas fa-lock" data-toggle="tooltip" title="Réinitialisation du mot de passe"></i> Mot de passe oublié ?</strong></p></a>
        </div>
    </div>
</section>

{% endblock content %}