{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
</header>

<section class="text-center d-flex">
    <div class="container my-auto">
		  <p class="m-auto p-2"><strong>
		    Nous vous avons envoyé des instructions pour définir votre mot de passe, s'il existe un compte avec l'e-mail que vous avez entré.
            Vous devriez les recevoir sous peu.
		  </strong></p>
		  <p class="m-auto p-2"><strong>
		    Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit,
            et vérifiez votre dossier spam.
		  </strong></p><br>
		  <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'core:index' %}">Retourner à l'acceuil</a>
	</div>
	</section>

{% endblock %}