{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex"></header>
<section class="text-center d-flex">
    <div class="container my-auto">
		<p class="m-auto p-2"><strong>Votre mot de passe a bien été modifié.</strong></p><br>
		<a href="{% url 'registration:account' %}"><strong><i class="fas fa-user-edit"></i> Mon compte</strong></a><br>
		<a href="{% url 'core:index' %}"><strong><i class="fas fa-home" data-toggle="tooltip" title="Acceuil"></i> Retournez à l'acceuil</strong></a>
	</div>
</section>
{% endblock %}