{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Nouveau mot de passe</strong>
                </h1>
            </div>
        </div>
    </div>
</header>
<section class="text-center d-flex">
    <div class="container my-auto">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Renseigner les champs ci-dessous:</h3>

            <div class="fieldWrapper my-label">
                <label for="id_new_password1">Nouveau mot de passe : </label>
                {{ form.new_password1 }}
            </div>

            <div class="fieldWrapper my-label">
                <label for="id_new_password2">Confirmation du nouveau mot de passe :</label>
                {{ form.new_password2 }}
            </div>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary btn-xl mt-50" type="submit">Confirmer</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}