{% extends 'core/base.html' %}
{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Nous vous avons envoyé des instructions pour définir votre mot de passe, s'il existe un compte avec l'e-mail que vous avez entré.
            Vous devriez les recevoir sous peu.
		  </p>
		  <p class="m-auto p-2">
		    Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit,
            et vérifiez votre dossier spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'core:index' %}">Retourner à l'acceuil</a></p>
	</div>
</div>

{% endblock %}