{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex"></header>
<section class="text-center d-flex">
    <div class="container my-auto">
        <form method="post" action=".">
        {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-3">Veuillez renseigner les champs ci-dessous:</h3>
            </fieldset>

            <div class="fieldWrapper my-label">
                <label for="{{ form.email.id_for_label }}">Adresse email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="errorform">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-primary btn-xl mt-50" type="submit">Valider</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}