{% extends 'core/base.html' %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Récupération du mot de passe</strong>
                </h1>
            </div>
        </div>
    </div>
</header>
<section class="text-center d-flex">
    <div class="container my-auto">
       <form method="POST" class="form-signin">{% csrf_token %}
	       <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
           <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
	       <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer l'e-mail</button>
       </form>
    </div>
</section>
{% endblock content %}