{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>oc13</title>

  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
    {% if request.user.is_authenticated %}
    <p><a href="{% url 'core:index' %}">Home</a> |
       <a href="{% url 'registration:account' %}">Compte</a> |
       <a href="{% url 'password_change' %}">Modifier son mot de passe</a> |
       <a href="{% url 'registration:logout' %}">Se deconnecter</a> |</p>
      <p>Connecté en tant que : {{request.user.username}}</p>
      {% else %}
    <p><a href="{% url 'core:index' %}">Home</a> |
       <a href="{% url 'registration:register' %}">S'enregistrer</a> |
       <a href="{% url 'registration:login' %}">Se connecter</a></p>
      {% endif %}

  <h2>Body</h2>

  {% block content %}{% endblock %}


</body>
<footer>
  <p>Mathieu Ferrandeau | 2020</p>
</footer>

</html>