{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<header class="masthead text-center d-flex">
   <div class="container my-auto">
      <div class="row">
         <div class="col-lg-10 mx-auto pt-3 custom-color">
            <h4 class="text-uppercase">Mentions légales</h4>
             <hr class="divider my-4">
             <h5>Hébergé par : <a href="https://www.heroku.com/" target="_blank">Heroku</a></h5>
             <hr class="divider my-4">
             <h5>Template : <a href="https://blackrockdigital.github.io/startbootstrap-creative/" target="_blank">Bootstrap</a></h5>
             <hr class="divider my-4">
             <h5>Logo  <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo" target="_blank">Pur-Beurre Openclassrooms</a></h5>
             <hr class="divider my-4">
             <h5>Icone  <a href="https://thenounproject.com/term/carrot/32551/" target="_blank">The Noun Project</a></h5>
             <hr class="divider my-4">
             <h5>Photo  <a href="https://unsplash.com/photos/AOJGuIJkoBc" target="_blank">By NeONBRAND</a></h5>
             <hr class="divider my-4">
             <h5>Portofolio  <a href="https://www.pixar.com/feature-films/ratatouille/#rat-main" target="_blank">Pixar Ratatouille</a></h5>
             <hr class="divider my-4">
         </div>
      </div>
   </div>
</header>

{% endblock %}