{% extends 'core/base.html' %}
{% block content %}
{% load static %}


      {% if user.is_authenticated %}

<header class="smallheader text-center text-white d-flex"></header>

<section class="page-section" id="about">
    <div class="container">
      <div class="col-lg-12 text-center">
            <h1 class="section-heading">Bienvenue : {{user.username}}</h2>
               <hr class="divider my-4">
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <a href="{% url 'spent:record_outlay' %}"> <i class="fas fa-plus fa-4x mb-4" data-toggle="tooltip"></i></a>
            <a href="{% url 'spent:record_outlay' %}"><h3 class="h4 mb-2">Enregistrer une dépense</h3></a>
            <p class="text-muted mb-0">Saisissez toutes vos différentes dépenses directement ici.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <a href="{% url 'spent:history' %}"> <i class="fas fa-history fa-4x mb-4"></i></a>
            <a href="{% url 'spent:history' %}"><h3 class="h4 mb-2">Historique</h3></a>
            <p class="text-muted mb-0">Retrouvez toutes vos dépenses enregistrées préalablement.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="mt-5">
            <a href="{% url 'registration:account' %}"> <i class="fas fa-user-edit fa-4x mb-4"></i></a>
            <a href="{% url 'registration:account' %}"><h3 class="h4 mb-2">Mon compte</h3></a>
            <p class="text-muted mb-0">Retrouvez et modifiez toutes les informations liées à votre compte.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% else %}

  <header class="masthead text-center d-flex">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10">
          <h1 class="text-uppercase text-white font-weight-bold"><strong>Maitrisez votre budget<br></strong></h1>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
          <div class="col-lg-10 align-self-end">

        </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Gerer-Mon-Budget.fr</h2>
            <hr class="divider my-4">
            <p class="text-muted mb-0"><strong>Ce site web vous permet d'enregistrer, de stocker et de retrouver facilement vos différentes dépenses chaque mois.
              <br>Pour pouvoir utiliser ce service il vous faudra créer un compte <a href ="{% url 'registration:register' %}"><i class="fas fa fa-user-plus" data-toggle="tooltip" title="S'enregistrer"></i></a> ou vous connectez si vous en possédez déjà un <a href ="{% url 'registration:login' %}"><i class="fas fa-sign-in-alt" data-toggle="tooltip" title="Se Connecter"></i></a>.</strong></p>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

{% endblock %}