{% extends 'core/base.html' %}
{% block content %}
{% load static %}

  <!-- Masthead -->
  <header class="masthead text-center d-flex">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10">
          <h1 class="text-uppercase text-white font-weight-bold"><strong>Maitrisez votre budget<br></strong></h1>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
          <div class="col-lg-10 align-self-end">

        </div>
        </div>
      </div>
    </div>
  </header>


  <!-- About Section -->
  <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Gerer-Mon-Budget.fr</h2>
            <hr class="divider my-4">
            <p class="text-muted mb-0"><strong>Ce site web vous permet d'enregistrer, de stocker et de retrouver facilement vos différentes dépenses chaque mois.
              <br>Pour pouvoir utiliser ce service il vous faudra créer un compte <a href ="{% url 'registration:register' %}"><i class="fas fa fa-user-plus" data-toggle="tooltip" title="S'enregistrer"></i></a> ou vous connectez si vous en possedez déja un <a href ="{% url 'registration:login' %}"><i class="fas fa-sign-in-alt" data-toggle="tooltip" title="Se Connecter"></i></a>.</strong></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-9 text-center">
            <div class="divider my-4">
              <p class="text-muted mb-0"><strong>Vous trouverez ci-dessous une vidéo qui vous montre comment fonctionne l'application.</strong></p>
              <img src="/" title="Video" alt="Video" />
              <p class="text-muted mb-0 mt-2"><strong>Demonstration</strong></p>
            </div>
          </div>
    </section>
{% endblock %}